compressive concrete strength flow.json
[{"id":"ec0d381.d1fc1c8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"6f1deacd.dbde84","type":"function","z":"ec0d381.d1fc1c8","name":"PreToken","func":"global.set(\"ce\",msg.payload.ce)\nglobal.set(\"bl\",msg.payload.bl)\nglobal.set(\"fl\",msg.payload.fl)\nglobal.set(\"wa\",msg.payload.wa)\nglobal.set(\"su\",msg.payload.su)\nglobal.set(\"co\",msg.payload.co)\nglobal.set(\"fi\",msg.payload.fi)\nglobal.set(\"ag\",msg.payload.ag)\nvar apikey=\"FgG4_sX0GHKoEiVpYheVn0fjj7vcPav8WRuyR5PWo2-S\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":400,"wires":[["5e45de5d.b163b"]]},{"id":"5e45de5d.b163b","type":"http request","z":"ec0d381.d1fc1c8","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.bluemix.net/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":479,"y":388.9999952316284,"wires":[["8a8fedc1.233a2"]]},{"id":"c27237e6.91c558","type":"inject","z":"ec0d381.d1fc1c8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":125.5,"y":313.99999809265137,"wires":[["6f1deacd.dbde84"]]},{"id":"a8ab0a69.90b0e8","type":"debug","z":"ec0d381.d1fc1c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":870,"y":100,"wires":[]},{"id":"8a8fedc1.233a2","type":"function","z":"ec0d381.d1fc1c8","name":"Pre Prediction","func":"var ce = global.get('ce')\nvar bl = global.get('bl')\nvar fl = global.get('fl')\nvar wa = global.get('wa')\nvar su = global.get('su')\nvar co = global.get('co')\nvar fi = global.get('fi')\nvar ag = global.get('ag')\nvar token=msg.payload.access_token\nvar instance_id=\"c9b4fa9d-b68b-4294-b436-3dc9172f6b88\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"Cement (component 1)(kg in a m^3 mixture)\", \"Blast Furnace Slag (component 2)(kg in a m^3 mixture)\", \"Fly Ash (component 3)(kg in a m^3 mixture)\", \"Water  (component 4)(kg in a m^3 mixture)\", \"Superplasticizer (component 5)(kg in a m^3 mixture)\", \"Coarse Aggregate  (component 6)(kg in a m^3 mixture)\", \"Fine Aggregate (component 7)(kg in a m^3 mixture)\", \"Age (day)\"],\"values\": [[ce,bl,fl,wa,su,co,fi,ag]]}]}\nreturn msg;","outputs":1,"noerr":0,"x":676.0000076293945,"y":351.9999990463257,"wires":[["e32d2582.307908"]]},{"id":"e32d2582.307908","type":"http request","z":"ec0d381.d1fc1c8","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/61cbc095-847e-4bc0-a23d-289357c1875f/predictions","tls":"","persist":false,"proxy":"","authType":"","x":769.5000076293945,"y":295.9999990463257,"wires":[["f262cc34.67ef1","a8ab0a69.90b0e8"]]},{"id":"c7084cc.98803b","type":"ui_form","z":"ec0d381.d1fc1c8","name":"","label":"","group":"1667480b.b3af08","order":1,"width":0,"height":0,"options":[{"label":"Cement (component 1)(kg in a m^3 mixture)","value":"ce","type":"number","required":true,"rows":null},{"label":"Blast Furnace Slag (component 2)(kg in a m^3 mixture)","value":"bl","type":"number","required":true,"rows":null},{"label":"Fly Ash (component 3)(kg in a m^3 mixture)","value":"fl","type":"number","required":true,"rows":null},{"label":"Water  (component 4)(kg in a m^3 mixture)","value":"wa","type":"number","required":true,"rows":null},{"label":"Superplasticizer (component 5)(kg in a m^3 mixture)","value":"su","type":"number","required":true,"rows":null},{"label":"Coarse Aggregate  (component 6)(kg in a m^3 mixture)","value":"co","type":"number","required":true,"rows":null},{"label":"Fine Aggregate (component 7)(kg in a m^3 mixture)","value":"fi","type":"number","required":true,"rows":null},{"label":"Age (day)","value":"ag","type":"number","required":true,"rows":null}],"formValue":{"ce":"","bl":"","fl":"","wa":"","su":"","co":"","fi":"","ag":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":71,"y":442.9999952316284,"wires":[["6f1deacd.dbde84"]]},{"id":"e43f1416.e146c8","type":"ui_text","z":"ec0d381.d1fc1c8","group":"1667480b.b3af08","order":2,"width":0,"height":0,"name":"","label":"ccs","format":"{{msg.payload}}","layout":"row-spread","x":797.6000366210938,"y":448.20000743865967,"wires":[]},{"id":"f262cc34.67ef1","type":"function","z":"ec0d381.d1fc1c8","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":120,"wires":[["e43f1416.e146c8"]]},{"id":"1667480b.b3af08","type":"ui_group","z":"","name":"Default","tab":"1fdfd828.a10798","order":1,"disp":true,"width":"6","collapse":false},{"id":"1fdfd828.a10798","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]